mixin field(type, name, label)
  .field(class='field-' + type)
    label #{label}:
    input(type=type, name='#{name}')

mixin select(options, name, label)
  .field(class='field-select')
    label #{label}:
    select
      each option, i in options
        option(value=#{option}) #{option}


mixin control-group-field(type, name, label, value, placeholder, pattern)
  .control-group
    label.control-label(for='#{name}') #{label}
    .controls
      input.input-xlarge(type='#{type}', name="#{name}", value="#{value}"
                        ,id="#{name}", placeholder="#{placeholder}"
                        ,pattern ="#{pattern}")

mixin control-group-areafield(name, label, value, placeholder)
  .control-group
    label.control-label(for='#{name}') #{label}
    .controls
      textarea.input-xlarge(type='text', rows="5", name="#{name}", id="#{name}", placeholder="#{placeholder}") #{value}

mixin control-group-selectfield(name, label, value, options)
  .control-group
    label.control-label(for='#{name}') #{label}
    .controls
      select
        each option in options
          option(value="#{option}", selected=value.toString() == option.toString()) #{option}
